@import '../../styles/colors.scss';

.navbar-menu {
    background-color: $white-color;

    .button-toogle {
        border: none;
        box-shadow: none;
    }

    .brand-navbar {
        width: 200px;
        height: 40px;

        @media screen and (min-width: 1200px) {
            width: 250px;
            height: 50px;
        }
    }

    a {
        color: $text-color;
        font-size: 0.875rem;

        &:hover {
            color: #00afef;
        }

        &:active {
            color: #00afef;
        }
    }

    .navbar-nav .dropdown-menu {
        position: absolute;
    }

    .nav-menu {
        padding-top: 20px;
        text-align: start;

        @media screen and (min-width: 1200px) {
            text-align: center;
        }

        .nav-link-item3,
        .nav-link-item4,
        .nav-link-item5 {
            height: 40px;
        }

        .nav-link-item8 {
            //width: 300px;
        }

        .nav-link-item1,
        .nav-link-item2,
        .nav-link-item3,
        .nav-link-item4,
        .nav-link-item5,
        .nav-link-item6,
        .nav-link-item7,
        .nav-link-item8,
        .nav-link-item9 {
            color: $text-color;

            &:hover {
                color: #00afef;
            }
        }


    }

}